/* Corrected CSS */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #eee;
    width: 600px;
    margin: 50px auto 0;
    padding: 10px;
    border: 3px solid #000;
}

.item1 {
    background-color: orangered; /* Corrected the property from 'background' to 'background-color' */
}

.item2 {
    background-color: yellowgreen; /* Corrected the property from 'background' to 'background-color' */
}

.item3 {
    background-color: mediumaquamarine; /* Corrected the property from 'background' to 'background-color' */
}

.item4 {
    background-color: hotpink; /* Corrected the property from 'background' to 'background-color' */
}

/* .items {
    background: #fff;
    font-size: 20px;
    font-weight: bold;
} */
